#number-container {
    position: fixed; top: 30px; left:30px; right:30px;
    overflow-y:hidden;
    font-size: 100px;
    overflow-x: hidden; /* Prevent horizontal scrolling */
    white-space: wrap; 
    height: 100vh; /* Fill up the entire viewport height */
    width: 100vw; /* Fill up the entire viewport width */
    z-index: 0;
}
#generate-btn{
    position:sticky; top: 100px;
    margin-left:500px;
    margin-bottom:100px;
    z-index: 100;

}
.text{
    z-index:100;
}
.number {
    position:relative;
    margin: 5px;
    display: inline-block;
    width: auto; /* Adjust width of each number to fit content */
    min-width: 50px; /* Minimum width of each number */
    height: auto; /* Adjust height to auto */
    text-align: center;
    line-height: 0.1; /* Adjust line height as needed */
    border: 5px solid #ffffff00;
    border-radius: 5px;
    color: rgb(255, 179, 227);
    white-space: normal; /* Allow text to wrap to the next line */
    font-size: 80px; /* Ensure semicolon is included */
    z-index:0;
}

body{
    background-color:blue;
}

.title{
    text-align:center;
    position: relative;  top:100px;
    margin-top:500px;
    background-color:rgba(255, 255, 255, 0);
    z-index:100;
    color:blue;
}

.title6{
    text-align:center;
    position:relative;
    margin-top:120px;
    margin-left:35%;
    z-index:100;
    color:blue;
}
.end{
    margin-bottom:100px;
}
.text{
    font-size:30px;
    padding:30px;
}
.container {
    margin-left:500px;
    width:500px;
    /*outline: solid 1px black;*/
    background-color:rgba(255, 0, 242, 0);
    z-index:100;
  }
.box{
    background-color:rgb(255, 179, 227);
    height:500px;
    width:500px;
    margin-left:35%;
    position: fixed;  top:100px;
    margin-bottom:3000px;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    position: fixed; bottom:200px;
    margin-left:730px;
  }
  
.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .button {
    background-color: blue;
    border: none;
    color: rgb(255, 179, 227);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:100px;
  }
  section{

    font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
 }
 .next-button{
    background-color: blue;
    border: none;
    color: rgb(255, 179, 227);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-bottom:1000px;
    position:relative;
    z-index:100;
    left:25%;
    margin-top:100px;
  }