
/*section{
    display:flex;
    height: 120px;
}
*/
body {
    margin-top: 100px;
    font-family: "input-serif", serif;
    font-weight: 400;
    font-style: normal;
    background-color: rgb(50, 51, 62);
    margin-bottom: 100px;
}

#number-container {
    position: fixed; top: 0;
    font-size: 100px;
    overflow:hidden; /* Prevent horizontal scrolling */
    white-space: wrap; 
    height: 100vh; /* Fill up the entire viewport height */
    width: 100vw; /* Fill up the entire viewport width */
}
#generate-btn{
    position:fixed;
    z-index: 100;
}

.number {
    margin: 5px;
    display: inline-block;
    width: auto; /* Adjust width of each number to fit content */
    min-width: 50px; /* Minimum width of each number */
    height: auto; /* Adjust height to auto */
    text-align: center;
    line-height: 0.1; /* Adjust line height as needed */
    border: 5px solid #ffffff00;
    border-radius: 5px;
    color: rgb(100, 114, 151);
    white-space: normal; /* Allow text to wrap to the next line */
    font-size: 130px; /* Ensure semicolon is included */
   
}
.start{    
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-left: 250px;
    position:absolute; left:50px;
    color:rgb(144, 255, 246);
    background-color: black;

}

.end{
    font-family: "input-serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    margin-right: 250px;
    position:absolute;left:550px;
    color:rgb(41, 66, 194);
    background-color: black;
    
}

/*
.one{
    top:140px;
}
.two{
    top:300px;
}
.three{
    top:460px;
}
.four{
    top:620px
}
.five{
    top:780px
}
.six{
    top:960px
}
*/

.rows{
    display:flex;
    justify-content: space-around;
    flex-direction: column;
    gap:140px
}
.line{
    display:flex;
}

.typewriter {
    color: #0f449a;
    font-family: monospace;
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    border-right: .15em solid rgb(153, 219, 255); /* The typwriter cursor */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3s steps(40, end),
      blink-caret .5s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 50% }
  }
  
  /* The typewriter cursor effect */
  @keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: rgb(144, 255, 246) }
  }

  .logic-button{
    position: relative; 
    margin-left: 690px;
    top: 20px; 
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
    
  }
  .poetry-button{
    position: relative; 
    margin-left: 390px;
    top: 20px; 
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
  }