body{
    background-color: rgb(75, 75, 75);
}
.book {
    top:100px;
    background-color: #fff;
    width: 700px;
    height: 500px;
    border-radius: 20px;
    perspective: 600px;
    position: relative;
    margin-left:25%;
    margin-bottom:300px;
    z-index:100;
}

.book::before {
    content: '';
    position: absolute;
    z-index: 5;
    width: 50%;
    height: 100%;
    right: 50%;
    background-color: #000000;
    border-radius: 20px 0 0 20px;
    transform-origin: center right;
    transform: rotateY(180deg);
    transition: 0.7s ease all;
}

.book:hover::before {
    transform: rotateY(0deg);
}

.book .pg {
    position: absolute;
    width: 50%;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
    
}

.book .pg.pg1 {
    background-color: #5bc6f0;
    border-radius: 20px 0 0 20px;
    left: 0;
    padding-left:10px;
}

.book .pg.pg2 {
    background-color: rgb(85, 26, 57);
    right: 0px;
    border-radius: 0 20px 20px 0;
}

.title{
    color: #ffffff;   
    font-size:100px;
    text-align:center;
    font-family: miller-display, serif;
    font-weight: 400;
    font-style: normal;
}